!!!5
html
  head
    script(src="jquery.js", type="text/javascript", charset="utf-8")
    script(src="class.js", type="text/javascript", charset="utf-8")
    script(src="constants.js", type="text/javascript", charset="utf-8")
    script(src="control.js", type="text/javascript", charset="utf-8")
    script(src="input_control.js", type="text/javascript", charset="utf-8")
    script(src="networked_control.js", type="text/javascript", charset="utf-8")
    script(src="sprite.js", type="text/javascript", charset="utf-8")
    script(src="game_init.js", type="text/javascript", charset="utf-8")
    script(src="images.js", type="text/javascript", charset="utf-8")
    script(src="browser_images.js", type="text/javascript", charset="utf-8")
    script(src="player.js", type="text/javascript", charset="utf-8")
    script(src="player_animations.js", type="text/javascript", charset="utf-8")
    script(src="game_controller.js", type="text/javascript", charset="utf-8")
    script(src="wall.js", type="text/javascript", charset="utf-8")
    script(src="bubble.js", type="text/javascript", charset="utf-8")
    script(src="blue_magoo.js", type="text/javascript", charset="utf-8")
    script(src="collision_detector.js", type="text/javascript", charset="utf-8")
    script(src="level_builder.js", type="text/javascript", charset="utf-8")
    script(src="onscreen_sprites.js", type="text/javascript", charset="utf-8")
    script(src="dead_enemy.js", type="text/javascript", charset="utf-8")
    script(src="pepper.js", type="text/javascript", charset="utf-8")
    script(src="text.js", type="text/javascript", charset="utf-8")

    script(src="stats.js", type="text/javascript", charset="utf-8")
    script(src="/socket.io/socket.io.js")
  title
    Game
  body
    script(type="text/javascript")

      var stats = new Stats();
      stats.setMode(0); // 0: fps, 1: ms
      
      // Align top-left
      stats.domElement.style.position = 'absolute';
      stats.domElement.style.right = '0px';
      stats.domElement.style.top = '0px';
      stats.domElement.style.float = 'right';
      
      document.body.appendChild( stats.domElement );
      
      var gameImages = new BrowserImages();
      var gameInit = new GameInit();

      var bub = new Player(200, 100, 'bub', new InputControl());
      var gameController = new GameController(gameInit, [bub]);
      var gameContext = $('#gameCanvas').get(0).getContext("2d");
      
      window.requestAnimFrame = (function(){
            return  window.requestAnimationFrame       || 
                    window.webkitRequestAnimationFrame || 
                    window.mozRequestAnimationFrame    || 
                    window.oRequestAnimationFrame      || 
                    window.msRequestAnimationFrame     || 
                    function( callback ){
                      window.setTimeout(callback, 1000 / 60);
                    };
      })();
      
      (function animloop(){
      //        var startTime = new Date().getTime();
          stats.begin();
      
          gameController.update();
          gameController.draw();
          requestAnimFrame(animloop);
          stats.end();
      
      
      //var pow = (new Date().getTime()) - startTime
      //if (pow > 1)console.log(pow);
      })();
